.location-item__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 750px;
  background: #F3F3F3;
  margin: 16px 0;
  padding: 8px;
  border-radius: 4px;
}
.location-item {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}
.location-item__extra-info__wrapper {
  display: flex;
  align-items: center;
}
.location-item__city {
  flex-basis: 60%;
  font-weight: bold;
}
.location-item__temp {
  flex-basis: 20%;
  display: flex;
  flex-direction: column;
}
.location-item__temp__feels-like {
  font-size: 13px;
  color: rgba(72, 71, 87, 0.55);
}
.location-item__remove {
  cursor: pointer;
  display: flex;
  justify-content: center;
  flex-basis: 20%;
  font-size: 12px;
  font-weight: bold;
}
.location-item__remove:hover {
  font-weight: bold;
  color: red;
}
.extra-info-box__wrapper {
  display: flex;
  flex-direction: column;
}
.extra-info-box__wrapper + .extra-info-box__wrapper {
  margin-left: 24px;
}
.extra-info-box__title {
  font-size: 14px;
  color: rgba(72, 71, 87, 0.55);
}